*{
	margin: 0px;
}
.header{
	background-color: #131921;
	display: flex;
	width: 100%;
	align-items: center;
	position: sticky;
	top:0px;
	z-index: 100;
}
.header_logo{
	width: 60px;
	border-radius: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 10px;

}
.header_Search{
	display: flex;
	flex: 1;
}
.header_searchInput{
	height: 12px;
	border:none;
	padding: 10px;
	width: 100%;
}
.header_searchIcon{
	background-color: #ffffff;
	padding: 5px;
	height: 22px !important;
}
.header_nav{
	display: flex;
	justify-content: space-evenly;
}
.header_link{
	color: white;
	text-decoration: none;
}
.header_option{
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	margin-left: 10px;
}
.header_optionLineOne{
	font-size: 15px;
	margin-left: 20px;
	margin-right: 15px;
}
.imdb_pro span{
	font-size:15px;
	font-weight: 500px;
}
.boder{
	height: 30px;
	width: 2px;
	background: #474545;
}
.watchlist{
	color: white;
	margin-left: 10px;
}
.watchlist p{
	margin-bottom: 10px;
}
.watchlist span{
	position: relative;
	color: #a5a0a0;
	top: 5px;
}
.signin{
	margin-right: 40px;
	margin-left: 20px;
}